<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourcePath" value="D:\Lab\sample"/>
		<add key="DesPath" value="D:\Lab\sample\output"/>
		<add key="ProjectId" value="<google-project-id>"/>
		<add key="DeepLAuthKey" value="<deepl-auth-key>"/>
		<add key="ServiceAccountPath" value="<path-to-google-service-account-json>"/>
	</appSettings>
</configuration>